body{
    background-color: indigo;
}

.container{
    background-color: #000104;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border: solid red 10px;
    border-radius: 5px;
    padding: 20px;
}

.link{
    background-color: gold;
    padding: 10px;
    font-style: italic;
    border: inset orange 3px;
    margin-bottom: 10px;
}

h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#picture{
    size: 500em;
    border: solid cyan 5px;
    border-radius: 3px;
}

.requiredinfo{
    color: red;
    size: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.col-sm{
    max-width: 50em;
    height: auto;
}