body{
    background-color: #000104;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border: solid red 10px;
    border-radius: 5px;
    padding: 20px;
}

h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    size: 500em;
    border: solid cyan 5px;
    border-radius: 3px;
}